body {
  color: black;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #D6E0F0;
}

h1 {
  color: #393B44;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #393B44;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #393B44;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #F1F3F8 6px;
  border-bottom: none;
  width: 4%;
  margin: 90px auto;
}

a {
  color: #D6E0F0;
  font-family: 'Montserrat', sans-serif;
  margin: 8px 8px;
  text-decoration: none;
}

a:hover {
  color: #F1F3F8;
}

.top-container {
  background-color: #F1F3F8;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 30px 0;
}

.bottom-container {
  background-color: #8D93AB;
  padding: 30px 10px 20px;
}

.Digital {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.sun-img {
  position: absolute;
  right: 300px;
  top: 50px;
}

.what-row {
  width: 50%;
  margin: 90px auto 90px auto;
  text-align: left;
}

.proposal-img {
  width: 25%;
  float: left;
  margin: 30px;
}

.proofreading-img {
  width: 25%;
  float: right;
  margin: 30px;
}

.contact-me {
  width: 40%;
  margin: 50px auto 60px;
}

.copyright {
  color: #F1F3F8;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #8D93AB;
  background-image: -webkit-linear-gradient(top, #8D93AB, #393B44);
  background-image: -moz-linear-gradient(top, #8D93AB, #393B44);
  background-image: -ms-linear-gradient(top, #8D93AB, #393B44);
  background-image: -o-linear-gradient(top, #8D93AB, #393B44);
  background-image: linear-gradient(to bottom, #8D93AB, #393B44);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #D6E0F0;
  background-image: -webkit-linear-gradient(top, #D6E0F0, #8D93AB);
  background-image: -moz-linear-gradient(top, #D6E0F0, #8D93AB);
  background-image: -ms-linear-gradient(top, #D6E0F0, #8D93AB);
  background-image: -o-linear-gradient(top, #D6E0F0, #8D93AB);
  background-image: linear-gradient(to bottom, #D6E0F0, #8D93AB);
  text-decoration: none;
}
